*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto; 
}

/* Apply a custom scrollbar style */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(210, 18, 4, 0.7); /* Blue color for the thumb */
  min-height: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgba(210, 18, 4, 0.7), rgb(127, 31, 31));
}

::-webkit-scrollbar-track {
  background: rgba(237, 226, 226, 0.1); /* Light background for the track */
  border-radius: 10px; /* Optional: rounded corners for the track */
  margin: 4px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.1); /* Track color */
}


@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s linear infinite;
}

/* In your CSS file (e.g., styles.css) */
.bg-radial-effect {
  background-image: 
    radial-gradient(circle at 5% 30%, rgba(0, 108, 255, 0.3), transparent 60%),   /* Top-left */
    radial-gradient(circle at 5% 70%, rgba(0, 255, 200, 0.2), transparent 60%),  /* Bottom-left */
    radial-gradient(circle at 95% 20%, rgba(255, 50, 100, 0.3), transparent 60%), /* Top-right */
    radial-gradient(circle at 95% 80%, rgba(255, 180, 0, 0.2), transparent 60%); /* Bottom-right */
  background-color: black; /* Ensure the black background remains */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
